{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block head %}
	<link type="text/css" href="{% static '/home/css/signup.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div id="signup_form">
<div id="signup_center"><h5>Sign Up for a new Account</h5>
<form method="post">
{% csrf_token %}
{{ form.errors }}
{{ form.username.label }}{{ form.username }}
{{ form.password1.label }}{{ form.password1 }}
{{ form.password2.label }}{{ form.password2 }}
<button type="submit">Sign up</button>
<p class="hint">You already have an account: <a href="/signin/">Sign in here</a></p>
</form>
</div>
</div>
{% endblock %}
